body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.main-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-main--betting {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

#main-main--betting--label {
  width: 250px;
}



.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
